Repository abridged/collabland-dev, pull requests merged in 2024-01, with the labels that each got.

#219 Tf cta
  static/img/telefrens/tf-create-group-button.png
  static/img/telefrens/tf-quick-invite.png
  telefrens/create-a-tf-group.md
Labels: documentation

#220 Copy trading
  telefrens/copy-trade.md
Labels: documentation, telefrens

#221 Update copy-trade.md
  telefrens/copy-trade.md
  telefrens/intro.md
Labels: documentation, telefrens

#222 Create ChainAegis.md
  help-docs/marketplace/apps/ChainAegis.md
Labels: documentation, miniapp

#223 Added Rarimo's Proof of Humanity miniapp
  help-docs/marketplace/apps/proof-of-humanity.md
Labels: documentation, miniapp

#227 Tf copytrade
  static/img/telefrens/tf-account-wallet.gif
  static/img/telefrens/tf-account.png
  telefrens/copy-trade.md
  telefrens/intro.md
  telefrens/product guides/first-time-passholder.md
  telefrens/product guides/referrals-program.md
  telefrens/product guides/transfer-eth.md
Labels: documentation, telefrens
